extends layout

block content
	audio#audio(src='/sound/laser2.mp3')
	header.visible
		h1= title
		div.btn
			span#stats stats
	div.background
	div#overlay.hide
		h1 statistics
		span based on 150ppi
		span#close X
		table
			tr
				td name
				td distance
				td click
				td scroll
