extends layout

block content
	audio#audio(src='/sound/background.mp3')
	audio#laser(src='/sound/laser.mp3')
	audio#reactor_audio(src='/sound/reactor.mp3')
	header.visible
		div.btn#volume
			span sound: off
		h1= title
		div.btn
			span#stats stats
	div.background
	div#overlay.hide
		h1 statistics
		span based on 150ppi
		span#close X
		table
			tr
				td name
				td distance
				td click
				td scroll
