doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, max-scale=1, min-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/bower_components/audiojs/audiojs/audio.min.js')
    script(type='text/javascript', src='/bower_components/two/build/two.min.js')
    script(type='text/javascript', src='/javascripts/socket.js')
    script(type='text/javascript', src='/javascripts/sky.js')
    script(type='text/javascript', src='/javascripts/ship.js')
    script(type='text/javascript', src='/javascripts/spaceship.js')
    script(type='text/javascript', src='/javascripts/stats.js')
    script(type='text/javascript', src='/javascripts/script.js')
