doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/bower_components/two/build/two.min.js')
    script(type='text/javascript', src='/javascripts/socket.js')
    script(type='text/javascript', src='/javascripts/sky.js')
    script(type='text/javascript', src='/javascripts/ship.js')
    script(type='text/javascript', src='/javascripts/spaceship.js')
    script(type='text/javascript', src='/javascripts/script.js')
